@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}

#container{
    width: 100vw;
    height: 75vh;
}

#judul{
    background: rgb(226, 226, 226);
}

#darurat{
    font-size: 12px;
    margin-top: -16px;
}

.bendera{
    width: 25px;
}

#card{
    display: inline-flex;
}

#tableRow{
    border-right: 1px solid black;
    border-collapse: collapse;
  }

#footer{
   border-top: 1px solid black;
   padding: 10px;
   text-align: center;
   margin: 0px;

}

#footer p {
    padding: 0px;
    margin: 0px;
}